[GLOBAL]
pants_version = "2.15.0rc4"

backend_packages = [
    "pants.backend.python",
    "pants.backend.python.lint.black",
    "pants.backend.python.lint.isort",
    "pants.backend.python.typecheck.mypy",
]

[anonymous-telemetry]
enabled = true
repo_id = "e0b99427-9bc2-4f6a-b197-f5f378849b15"

[black]
version = "black==22.10.0"
lockfile = "pants-support/tool-locks/black.lock"

[isort]
version = "isort==5.10.1"
lockfile = "pants-support/tool-locks/isort.lock"

[mypy]
version = "mypy==0.991"
config = "tools/pyproject.toml"
lockfile = "pants-support/tool-locks/mypy.lock"

[pex-cli]
version = "v2.1.118"
known_versions = [
    "v2.1.118|linux_arm64|a0633d2d84a20908c4ada92e01d4cd3e4ae76497a83f2bf0f2e6f0d5ca0098d5|4068845",
    "v2.1.118|linux_x86_64|a0633d2d84a20908c4ada92e01d4cd3e4ae76497a83f2bf0f2e6f0d5ca0098d5|4068845",
    "v2.1.118|macos_arm64|a0633d2d84a20908c4ada92e01d4cd3e4ae76497a83f2bf0f2e6f0d5ca0098d5|4068845",
    "v2.1.118|macos_x86_64|a0633d2d84a20908c4ada92e01d4cd3e4ae76497a83f2bf0f2e6f0d5ca0098d5|4068845",
]

[pytest]
version = "pytest==7.2.0"
lockfile = "pants-support/tool-locks/pytest.lock"

[python]
enable_resolves = true
interpreter_constraints = [">=3.8,<3.10"]

# We generate this via cargo run -p package -- --update-lock.
resolves_generate_lockfiles = false

[python.resolves]
python-default = "tools/lock.json"

[subprocess-environment]
env_vars = [
    "BUILDROOT=%(buildroot)s"
]

[source]
root_patterns = [
    "/tools",
    "/tools/src",
    "/tools/tests",
    "/tools/test_support",
]
