[GLOBAL]
pants_version = "2.26.0"

backend_packages = [
    "pants.backend.python",
    "pants.backend.python.lint.black",
    "pants.backend.python.lint.isort",
    "pants.backend.python.typecheck.mypy",
]

[anonymous-telemetry]
enabled = true
repo_id = "e0b99427-9bc2-4f6a-b197-f5f378849b15"

[mypy]
config = "tools/pyproject.toml"

[python]
enable_resolves = true
interpreter_constraints = [">=3.8,<3.15"]
pip_version = "24.3.1"

# We generate this via cargo run -p package -- --update-lock.
resolves_generate_lockfiles = false

[python.resolves]
python-default = "tools/lock.json"

[python-infer]
use_rust_parser = true

[pex-cli]
version = "v2.70.0"
known_versions = [
    "v2.70.0|macos_arm64 |0d5b550b0c31992ea852c604d9ac2fcb14b1c82a4ea3d26a84c7a22ab86a4417|4937924",
    "v2.70.0|macos_x86_64|0d5b550b0c31992ea852c604d9ac2fcb14b1c82a4ea3d26a84c7a22ab86a4417|4937924",
    "v2.70.0|linux_x86_64|0d5b550b0c31992ea852c604d9ac2fcb14b1c82a4ea3d26a84c7a22ab86a4417|4937924",
    "v2.70.0|linux_arm64 |0d5b550b0c31992ea852c604d9ac2fcb14b1c82a4ea3d26a84c7a22ab86a4417|4937924",
]

[subprocess-environment]
env_vars = [
    "BUILDROOT=%(buildroot)s"
]

[source]
root_patterns = [
    "/tools",
    "/tools/src",
    "/tools/tests",
    "/tools/test_support",
]
