[lift]
name = "pbt"
description = """\
Python Build Tool: A BusyBox that provides `python`, `pip`, `pex`, `pex3` and `pex-tools`.\
"""

[lift.ptex]
version = "1.7.0"

[lift.scie_jump]
version = "1.6.1"

[[lift.interpreters]]
id = "cpython"
provider = "PythonBuildStandalone"
release = "20241002"
lazy = true
version = "3.8.20"

[[lift.files]]
name = "pex"
type = "blob"
digest = { size = 4374406, fingerprint = "f68d6683749fb2d7cd5c7a62c72e1b5f9155b0bc0f752f7ceb83855164bfee56" }
source = { url = "https://github.com/pantsbuild/pex/releases/download/v2.30.0/pex", lazy = true }

[[lift.commands]]
name = "pex"
exe = "#{cpython:python}"
args = [
    "{pex}"
]

[[lift.commands]]
name = "pex3"
exe = "#{cpython:python}"
args = [
    "{pex}"
]

[lift.commands.env.replace]
PEX_SCRIPT = "pex3"

[[lift.commands]]
name = "pex-tools"
exe = "#{cpython:python}"
args = [
    "{pex}"
]

[lift.commands.env.replace]
PEX_SCRIPT = "pex-tools"

[[lift.commands]]
name = "pip"
exe = "#{cpython:python}"
args = [
    "-m",
    "pip"
]

[[lift.commands]]
name = "python"
exe = "#{cpython:python}"
