[lift]
name = "pbt"
description = """\
Python Build Tool: A BusyBox that provides `python`, `pip`, `pex`, `pex3` and `pex-tools`.\
"""

[lift.ptex]
version = "1.7.0"

[lift.scie_jump]
version = "1.8.2"

[[lift.interpreters]]
id = "cpython"
provider = "PythonBuildStandalone"
release = "20241002"
lazy = true
version = "3.8.20"

[[lift.files]]
name = "pex"
type = "blob"
digest = { size = 4937924, fingerprint = "0d5b550b0c31992ea852c604d9ac2fcb14b1c82a4ea3d26a84c7a22ab86a4417" }
source = { url = "https://github.com/pantsbuild/pex/releases/download/v2.70.0/pex", lazy = true }

[[lift.commands]]
name = "pex"
exe = "#{cpython:python}"
args = [
    "{pex}"
]

[[lift.commands]]
name = "pex3"
exe = "#{cpython:python}"
args = [
    "{pex}"
]

[lift.commands.env.replace]
PEX_SCRIPT = "pex3"

[[lift.commands]]
name = "pex-tools"
exe = "#{cpython:python}"
args = [
    "{pex}"
]

[lift.commands.env.replace]
PEX_SCRIPT = "pex-tools"

[[lift.commands]]
name = "pip"
exe = "#{cpython:python}"
args = [
    "-m",
    "pip"
]

[[lift.commands]]
name = "python"
exe = "#{cpython:python}"
